{# New Assignment template #}
{% extends 'base.html' %}

{% block title %}DiGi Portfolio | Add Criteria to Assignment{% endblock %}

{% block content %}
    <section id="top" class="form">
        <div class="wide-envelop">
        {% if assignment %}
            <h1>{{ assignment.name }}</h1>
            <p>by {{assignment.author}}</p>
            {% if perms.projects.change_assignment %}
            <div class="button-list">
                <span class="button"><a href="{% url 'projects:criterion-new' %}" title="Add your new criterion.">+</a></span>
            </div>
            {% endif %}
            <form action="{% url 'projects:criteria-add' assignment.id %}" method="post">
                {% csrf_token %}
                {{ form }}
                <div class="wide">    
                    <input type="submit" value="Save">
                </div>
            </form>
        {% endif %}
        </div>
    </section>

    {#TODO: Save as a copy#}
    <section id="navigation">
        <span class="button"><a href="{{ wizard }}#criteria" title="Storno and back.">&lt;</a></span>
        <form id="logout-form" method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit" class="button-logout">Log Out</button>
        </form>    
    </section>
{% endblock %}