{# New Assignment template #}
{% extends 'base.html' %}

{% block title %}DiGi Portfolio | Create or edit criterion{% endblock %}

{% block content %}
    <section id="top" class="form">
        <div class="wide-envelop">
        {% if criterion %}
            <h1>{{ criterion.name }}</h1>
            <p>criterion by {{criterion.author}}</p>
            {{ session_context.last_assignment_url}}
            <form action="{% url 'projects:criterion-edit' criterion.id %}" method="post">
                {% csrf_token %}
                {{ form }}
                <div class="wide">    
                    <input type="submit" value="Save">
                </div>
            </form>
        {% else %}
            <h1>New Criterion</h1>

            <form action="{% url 'projects:criterion-new' %}" method="post">
                {% csrf_token %}
                {{ form }}
                <span class="button"><a href="{% url 'projects:descriptor-new' %}" title="Add your new criterion.">Add</a></span>
                <div class="wide">    
                    <input type="submit" value="Save">
                </div>
            </form>
        {% endif %}
        </div>
    </section>

    {#TODO: Save as a copy#}
    <section id="navigation">
        <span class="button"><a href="{{ wizard }}#criteria" title="Settings">&lt;</a></span>
        <form id="logout-form" method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit" class="button-logout">Log Out</button>
        </form>    
    </section>
{% endblock %}