{# New Assignment template #}
{% extends 'base.html' %}

{% block title %}DiGi Portfolio | New Assignment{% endblock %}

{% block content %}
    <section id="top" class="form">
        <div class="wide-envelop">
        {% if assignment %}
            <h1>{{ assignment.name }}</h1>
            <p>by {{assignment.teacher}}</p>

            <form action="{% url 'projects:assignment-edit' assignment.id %}" method="post">
                {% csrf_token %}
                {{ form }}
                <div class="wide">    
                    <input type="submit" value="Save">
                </div>
            </form>
        {% else %}
            <h1>New Assignment</h1>
            <form action="{% url 'projects:assignment-new' %}" method="post">
                {% csrf_token %}
                {{ form }}
                <div class="wide">    
                    <input type="submit" value="Save">
                </div>
            </form>
        {% endif %}
        </div>
    </section>
    {#TODO: Save as a copy#}
    <section id="navigation">
        <span class="button"><a href="{% url 'projects:assignment-index' %}" title="Assignments">&lt;</a></span>
        <form id="logout-form" method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit" class="button-logout">Log Out</button>
        </form>    
    </section>
{% endblock %}