{# New Assignment template #}
{% extends 'base.html' %}

{% block title %}DiGi Portfolio | New Submission Files{% endblock %}

{% block content %}
    <section id="top" class="form">
        <div class="wide-envelop">
            <h1>New Submission Files</h1>
            <form action="{% url 'projects:submission-file' %}" method="post" enctype='multipart/form-data'>
                {% csrf_token %}
                {{ form }}
                <div class="wide">    
                    <input type="submit" value="Save">
                </div>
            </form>
        </div>
    </section>
    <section id="navigation">
        <span class="button"><a href="{{ wizard }}" title="Storno and back.">&lt;</a></span>
        <form id="logout-form" method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit" class="button-logout">Log Out</button>
        </form>    
    </section>
{% endblock %}