{# Assignment template #}
{% extends 'base.html' %}

{% block title %}DiGi Portfolio | Submission{% endblock %}

{% block content %}
    <section id="top" class="main">
        <h1>Submissions</h1>
        <div class="wide-white-block">
        {%if submissions %}
            {% for submission in submissions %}
                <span class="block-envelop">
                    {% if submission.assignment %} 
                        <span class="group">
                            {{ submission.assignment.subject.name }}
                            {{ submission.assignment.topic.heading }}
                        </span>
                        <span class="data">
                            <a href="{% url 'projects:submission-detail' submission.id %}">{{ submission.name }}</a>
                        </span>
                    {% else %}
                        No Subject
                    {% endif %}
                </span>
            {% endfor %}    
        {% else %}    
            <p class='info'>No submission found.</p>
        {% endif %}    
        </div>    
    </section>

    <section id="subject" class="darkblue">
        <h2>Assignments {% if selected_subject %} for {{ selected_subject.name }} {% else %} by subject {% endif %}</h2>
        <div class="button-list">
        {% if perms.settings.add_subject %}
            <span class="button"><a href="{% url 'settings:new-subject' %}" title="Add your new subject.">+</a></span>
        {% endif %}
        <span class="button"><a href="{% url 'projects:submission-index' %}#subject">All</a></span>
        {% for subject in subjects %}
            <span class="button"><a href="{% url 'projects:submission-subject' subject.id %}#subject">{{ subject.name }}</a></span>
        {% endfor %}
        </div>
        
        <div class="wide-envelop">
            <div class="wide-darkblue-block">
            {%if submissions_by_subject and selected_subject %}
                {% for submission in submissions_by_subject %}
                    <span class="block-envelop">
                        {% if submission.assignment %} 
                            <span class="group">
                                {{ submission.assignment.subject.name }}
                            {{ submission.assignment.topic.heading }}
                            </span>
                            <span class="data">
                                <a href="{% url 'projects:submission-detail' submission.id %}">{{ submission.name }}</a>
                            </span>
                        {% else %}
                            No submission
                        {% endif %}
                    </span>
                {% endfor %}    
            {%elif submissions_by_subject and not selected_subject %}
                {% for submission in submissions_by_subject %}
                    <span class="block-envelop">
                        {% if submission.assignment %} 
                            <span class="group">
                                {{ submission.assignment.subject.name }}
                            {{ submission.assignment.topic.heading }}
                            </span>
                            <span class="data">
                                <a href="{% url 'projects:submission-detail' submission.id %}">{{ submission.name }}</a>
                            </span>
                        {% else %}
                            No submission
                        {% endif %}
                    </span>
                {% endfor %}    
            {% else %}
                <p class='info'>No submission found for the selected subject.</p>
            {% endif %}
            </div>    
        </div>
    </section>

    <section id="topic" class="lightgray">
        <h2>Assignments {% if selected_topics %} for {{ selected_topic.name }} {% else %} by topic {% endif %}</h2>
        <div class="button-list">
        {% if perms.settings.add_topic %}
            <span class="button"><a href="{% url 'settings:new-topic' %}" title="Add your new topic.">+</a></span>
        {% endif %}
        <span class="button"><a href="{% url 'projects:submission-index' %}#topic">All</a></span>
        {% for topic in topics %}
            <span class="button"><a href="{% url 'projects:submission-topic' topic.id %}#topic">{{ topic.heading }}</a></span>
        {% endfor %}
        </div>
        
        <div class="wide-envelop">
            <div class="wide-lightgray-block">
            {%if submissions_by_topic and selected_topic %}
                {% for submission in submissions_by_topic %}
                    <span class="block-envelop">
                        {% if submission.assignment %} 
                            <span class="group">
                                {{ submission.assignment.subject.name }}
                                {{ submission.assignment.topic.heading }}
                            </span>
                            <span class="data">
                                <a href="{% url 'projects:submission-detail' submission.id %}">{{ submission.name }}</a>
                            </span>
                        {% else %}
                            No submission
                        {% endif %}
                    </span>
                {% endfor %}    
            {%elif submissions_by_topic and not selected_topic %}
                {% for submission in submissions_by_topic %}
                    <span class="block-envelop">
                        {% if submission.assignment %} 
                            <span class="group">
                                {{ submission.assignment.subject.name }}
                                {{ submission.assignment.topic.heading }}
                            </span>
                            <span class="data">
                                <a href="{% url 'projects:submission-detail' submission.id %}">{{ submission.name }}</a>
                            </span>
                        {% else %}
                            No submission
                        {% endif %}
                    </span>
                {% endfor %}    
            {% else %}
                <p class='info'>No submission found for the selected topic.</p>
            {% endif %}
            </div>    
        </div>
    </section>

    {% include "assignment/navigation.html" %}
{% endblock %}