{# New Submission template #}
{% extends 'base.html' %}

{% block title %}DiGi Portfolio | New/Edit Submission{% endblock %}

{% block content %}
    <section id="top" class="form">
        <div class="wide-envelop">
        {% if submission %}
            <h1>{{ submission.name }}</h1>
            <p>submission by {{submission.author}}</p>

            <form action="{% url 'projects:submission-edit' submission.id %}" method="post">
                {% csrf_token %}
                {{ form }}
                <div class="wide">    
                    <input type="submit" value="Save">
                </div>
            </form>
        {% else %}
            <h1>New Submission</h1>
            <form action="{% url 'projects:submission-new' %}" method="post">
                {% csrf_token %}
                {{ form }}
                <div class="wide">    
                    <input type="submit" value="Save">
                </div>
            </form>
        {% endif %}
        </div>
    </section>
    
    {#TODO: Save as a copy#}
    <section id="navigation">
        <span class="button"><a href="{{ wizard }}" title="Storno and back.">&lt;</a></span>
        <form id="logout-form" method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit" class="button-logout">Log Out</button>
        </form>    
    </section>
{% endblock %}