{# Settings template #}
{% extends 'base.html' %}

{% block title %}DiGi Portfolio | Settings{% endblock %}

{% block content %}
    <section id="top" class="main">
        <h1>Settings</h1>
        <div class="button-list">
        </div>
    </section>

    <section id="subject" class="darkblue">
        <h2>Subject Management</h2>
        <div class="button-list">
        {% if perms.settings.add_subject %}
            <span class="button"><a href="{% url 'settings:new-subject' %}" title="Add your new subject.">+</a></span>
        {% endif %}
        {%if subjects %}
            {% for subject in subjects %}
                {% if perms.settings.change_subject %}
                    <span class="button"><a href="{% url 'settings:subject' subject.id %}">{{ subject.name }}</a></span>
                {% else %}
                    <span class="button-notactive">{{ subject.name }}</span>
                {% endif %}    
            {% endfor %}
        {% else %}
            <p class='info'>No subjects found. Add some!</p>
        {% endif %}
        </div>
    </section>

    <section id="topic" class="lightgray">
        <h2>Topic Management</h2>
        <div class="button-list">
        {% if perms.settings.add_topic %}
            <span class="button"><a href="{% url 'settings:new-topic' %}" title="Add your new topic.">+</a></span>
        {% endif %}
        {%if topics %}
            {% for topic in topics %}
                {% if perms.settings.change_topic %}
                    <span class="button"><a href="{% url 'settings:topic' topic.id %}">{{ topic.heading }}</a></span>
                {% else %}
                    <span class="button-notactive">{{ topic.heading }}</span>
                {% endif %}    
            {% endfor %}
        {% else %}
            <p class='info'>No topics found. Add some!</p>
        {% endif %}
        </div>
    </section>

    {% include "settings/navigation.html" %}
{% endblock %}