<section id="navigation">
    {# <span class="button"><a href="{% 'core' %}" title="core">&lt;</a></span> #}
    <span class="button"><a href="#top" title="Back to top">Top</a></span>
    <span class="button"><a href="#subject">Subjects</a></span>
    <span class="button"><a href="#topic">Topics</a></span>
    <span class="button"><a href="#set">Sets</a></span>
    <form id="logout-form" method="post" action="{% url 'admin:logout' %}">
        {% csrf_token %}
        <button type="submit" class="button-logout">Log Out</button>
    </form>    
</section>
