{# Settings - Subjuect template #}
{% extends 'base.html' %}

{% block title %}DiGi Portfolio | Settings - Subject{% endblock %}

{% block content %}
    <section id="top" class="form">
        <div class="wide-envelop">
        {%if subject %}
            <h1>{{ subject.name }}</h1>
            <p>by {% for lead in subject.lead.all %} {{lead.username}}{%if not forloop.last%},{%endif%} {% endfor %}</p>

            <form action="{% url 'settings:subject' subject.id %}" method="post">
                {% csrf_token %}
                {{ form }}
                <div class="wide">    
                    <input type="submit" value="Save">
                </div>
            </form>
        {% else %}
            <h1>New subject</h1>
            <form action="{% url 'settings:new-subject' %}" method="post">
                {% csrf_token %}
                {{ form }}
                <div class="wide">    
                    <input type="submit" value="Save">
                </div>
            </form>
        {% endif %}
        </div>
    </section>

    <section id="navigation">
        <span class="button"><a href="{% url 'settings:index' %}#subject" title="Settings">&lt;</a></span>
        <form id="logout-form" method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit" class="button-logout">Log Out</button>
        </form>    
    </section>
{% endblock %}
