{# Settings - Topic template #}
{% extends 'base.html' %}

{% block title %}DiGi Portfolio | Settings - Topic{% endblock %}

{% block content %}
    <section id="top" class="main">
        <div class="wide-envelop">
        {%if topic %}
            <h1>{{ topic.heading }}</h1>
            <p>by {{ topic.author.user.username }}</p>

            <form action="{% url 'settings:topic' topic.id %}" method="post">
                {% csrf_token %}
                {{ form }}
                <div class="wide">    
                    <input type="submit" value="Save">
                </div>
            </form>
        {% else %}
            <h1>New topic</h1>
            <p class='info'>No topic found. Add some!</p>

            <form action="{% url 'settings:new_topic' %}" method="post">
                {% csrf_token %}
                {{ form }}
                <div class="wide">    
                    <input type="submit" value="Save">
                </div>
            </form>
        {% endif %}

        </div>
    </section>

    <section id="navigation">
        <span class="button"><a href="{% url 'settings:index' %}#topic" title="Settings">&lt;</a></span>
        {# <span class="button warning"><a href="{{ path('app_logout')}}">Log Out</a></span> #}
    </section>
{% endblock %}
