<section id="navigation">
    {% if loged_as.user.staff.type == 'ROLE_TEACHER' %}
        <span class="button"><a href="{% url 'assignment:index' %}">Assignments</a></span>
        {# <span class="button"><a href="{% url 'submission:index' %}">Submissions</a></span> #}
        {# <span class="button"><a href="{% url 'person:index' %}">People</a></span> #}
        <span class="button"><a href="{% url 'settings:index' %}">Settings</a></span>
    {% elif loged_as.user.staff.type == 'ROLE_STUDENT' %}
        <span class="button"><a href="{% url 'assignment:index' %}">Assignments</a></span>
        {# <span class="button"><a href="{% url 'submission:index' %}">Submissions</a></span> #}
        {# <span class="button"><a href="{% url 'person:profile' current.user.id %}">Profile</a></span> #}
    {% else %}
        <span class="note" title="Please contanct the admin team.">No access to tools.</span>
    {% endif %}
    <form id="logout-form" method="post" action="{% url 'admin:logout' %}">
        {% csrf_token %}
        <button type="submit" class="button-logout">Log Out</button>
    </form>    
    <div class="info">Version 0.1.0 (22/07/25)</div>
</section>